body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'UNSII';
    src: url('../assets/font/UNSII-2.woff2') format('woff2');
}

@font-face {
    font-family: 'Freeman';
    src: url('../assets/font/Freeman-Regular.woff2') format('woff2');
}

input, button {
    border: none;
    outline-style: none;
    background-color: transparent;
}

body {
    overflow-x: hidden;
    background-color: #000000;
}